{
  "presets": [
      ["es2015", {"loose": true, "modules": false }],
      ["stage-0"],
      ["react"]
  ],
  "plugins": [
      "transform-decorators-legacy",
      "transform-runtime",
      "external-helpers",
      "transform-react-jsx"
  ]
}
